<?xml version="1.0"?>
<model>
  <name>RealSenseD455</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>PX4 Simulation</name>
    <email>px4@px4.io</email>
  </author>
  <description>Simple Intel RealSense D455 style RGB-D sensor for Gazebo (Ignition/GZ) simulations.</description>
</model>
